@model IEnumerable<SpotSightWeb.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpotSightLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UUId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MajorNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinorNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudioUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPush)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UUId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MajorNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinorNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudioUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPush)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
